@font-face {
  font-family: Blagovest;
  src: url(../../fonts/Blagovest.ttf); }
.NavBlock ul {
  margin-top: 0;
  margin-left: 20px;
  padding-left: 0; }

li {
  list-style-type: none; }

.navLink {
  font-family: Blagovest, sans-serif;
  font-size: 16px;
  text-decoration: none;
  padding: 5px;
  border-top: 2px solid #f0f0f0;
  background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
  border-radius: 5px;
  margin-bottom: 1px;
  display: grid;
  grid-template-columns: 24px auto; }

.navIcon {
  display: grid;
  justify-self: center;
  align-self: center; }

.navName {
  padding-left: 10px; }

.navLink:link, .navLink:visited {
  color: #186F9C; }

.navLink:hover {
  color: #e5822b; }

.navLink:active {
  color: #a01c26;
  border-top: 2px solid #a01c26; }

.navActive {
  border-top: 2px solid #b26817;
  background: linear-gradient(to bottom, #ffffff 0%, #d9d9d9 100%); }

.navActive * {
  color: #b26817; }
