
@font-face {
  font-family: Blagovest;
  src: url(../../fonts/Blagovest.ttf);
}
@font-face {
  font-family: Izvestija;
  src: url(../../fonts/Izvestija.ttf);
}

#headerLogo {
  width: 100px;
}
.imgTest {
  width: 1100px;
  //filter: blur(0px);
  border-radius: 5px;
  //box-shadow:
  //        0 0 10px rgba(200, 200, 200, .9),
  //        0 0 20px rgb(27, 23, 59),
  //        0 0 30px rgba(0, 0, 0, .9),
  //        0 0 40px rgba(0, 0, 0, .9);
}


.Header {
  font-family: Izvestija, sans-serif;
  //background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
  border-radius: 5px;
}
.Header *{
  align-self: center;
  justify-self: center;
}
.HeaderTit{
}