
@font-face {
  font-family: Blagovest;
  src: url(../../fonts/Blagovest.ttf);
}

#headerLogo {
  width: 100px;
}

.Header {
  font-family: Blagovest, sans-serif;
  //background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
  border-radius: 5px;
}
.Header *{
  align-self: center;
  justify-self: center;
}
.HeaderTit{
}