.App {
  display: grid;
  grid-template-rows: 170px auto;
  grid-template-columns: 300px 900px;
  grid-template-areas: "header header ." "nav main .";
  grid-gap: 20px;
  height: 97vh;
  width: 1220px;
  margin: auto; }

.Header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 3fr; }

.NavBlock {
  grid-area: nav; }

.MainBody {
  grid-area: main; }
